<div class="row">
	<div class="col-sm-3">
		<ul class="list-group">
			<li class="list-group-item  d-flex justify-content-between align-items-center" data-toggle="tab"
				ng-repeat="asset in assetTypeList"
				ng-click="selectedAssetType($index)">{{asset.type}}
				<span class="badge badge-primary badge-pill">14</span>
				<button class="btn btn-sm btn-link" ng-click="add($index)"><i class="fa fa-plus"></i></button>
			</li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div ng-if="include == 'FORM'" ng-include="'../views/assetform.html'"></div>
		<div ng-if="include == 'VIEW'" ng-include="'../views/assetview.html'"></div>
	</div>
</div>